@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body, html {
  font-family: 'Lato';
  height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 115px 0 0 0;
  position: relative;
  background: url(../img/fon_1.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__logo a {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 195px;
  flex: 0 1 195px;
}

.main__logo a img {
  max-width: 100%;
}

.main__title {
  margin: 119px 0 0 0;
  max-width: 754px;
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.main__title span {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.main__title:after {
  content: '';
  display: block;
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 30px auto;
}

.main__button {
  margin: 50px 0 0 0;
}

.main__arrow {
  position: absolute;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

@keyframes arrow {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

.btn {
  position: relative;
  width: 182px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.btn a {
  position: relative;
  z-index: 2;
  padding: 10px 0;
  display: block;
  width: 182px;
  height: 47px;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn a:hover {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  opacity: 0.8;
}

@media (max-height: 605px) {
  .main {
    padding: 50px 0 0 0;
  }
  .main__title {
    margin: 80px 0 0 0;
  }
  .main__button {
    margin: 30px 0 0 0;
  }
}

@media (max-height: 357px) {
  .main__logo a {
    -webkit-box-flex: 0;
    -ms-flex: 0 110px;
    flex: 0 110px;
  }
  .main__title {
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  .main__title span {
    font-size: 20px;
  }
  .main__title:after {
    margin: 10px auto;
  }
  .main__button {
    margin: 25px 0 0 0;
  }
  @-webkit-keyframes arrow {
    0% {
      bottom: 5%;
    }
    100% {
      bottom: 2%;
    }
  }
  @keyframes arrow {
    0% {
      bottom: 5%;
    }
    100% {
      bottom: 2%;
    }
  }
}

@media (max-width: 772px) {
  .main__logo a {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 130px;
    flex: 0 1 130px;
  }
  .main__title {
    margin: 80px 0 0 0;
    font-size: 24px;
  }
  .main__title span {
    font-size: 22px;
  }
  .main__button {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 550px) {
  .main__title {
    margin: 80px 0 0 0;
  }
  .main__button {
    margin: 55px 0 0 0;
  }
  @-webkit-keyframes arrow {
    0% {
      bottom: 12%;
    }
    100% {
      bottom: 9%;
    }
  }
  @keyframes arrow {
    0% {
      bottom: 12%;
    }
    100% {
      bottom: 9%;
    }
  }
}

@media (max-width: 395px) {
  .main__title {
    margin: 50px 0 0 0;
    font-size: 22px;
  }
  .main__title span {
    font-size: 20px;
  }
  .main__title:after {
    margin: 20px auto;
  }
  .main__button {
    margin: 100px 0 0 0;
  }
}

@media (max-width: 343px) {
  .main__button {
    margin: 60px 0 0 0;
  }
}

.menu {
  padding: 22px 0 22px 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.menu__link a {
  color: #3c3c3c;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ada074;
  font-weight: 700;
}

.container-2 {
  max-width: 425px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 400px) {
  .menu {
    padding: 12px 0 2px 0;
  }
  .menu__link {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 0 10px 0;
  }
}
