@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body, html {
  font-family: 'Lato';
  height: 100vh;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 115px 0 0 0;
  position: relative;
  background: url(../img/fon_1.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__logo a {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 195px;
  flex: 0 1 195px;
}

.main__logo a img {
  max-width: 100%;
}

.main__title {
  margin: 119px 0 0 0;
  max-width: 754px;
  text-align: center;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #ffffff;
}

.main__title span {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.main__title:after {
  content: '';
  display: block;
  width: 105px;
  height: 2px;
  background-color: #fff;
  margin: 30px auto;
}

.main__button {
  margin: 50px 0 0 0;
}

.main__arrow {
  position: absolute;
  -webkit-animation-name: arrow;
  animation-name: arrow;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

@keyframes arrow {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: 8%;
  }
}

.btn {
  position: relative;
  width: 182px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.06em;
}

.btn a {
  position: relative;
  z-index: 2;
  padding: 10px 0;
  display: block;
  width: 182px;
  height: 47px;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.btn a:hover {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  opacity: 0.8;
}

.btn_b a {
  color: #000;
  border: 2px solid #000;
}

.btn_b a:hover {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  border: 2px solid #fff;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
}

@media (max-height: 605px) {
  .main {
    padding: 50px 0 0 0;
  }
  .main__title {
    margin: 80px 0 0 0;
  }
  .main__button {
    margin: 30px 0 0 0;
  }
}

@media (max-height: 357px) {
  .main__logo a {
    -webkit-box-flex: 0;
    -ms-flex: 0 110px;
    flex: 0 110px;
  }
  .main__title {
    margin: 20px 0 0 0;
    font-size: 22px;
  }
  .main__title span {
    font-size: 20px;
  }
  .main__title:after {
    margin: 10px auto;
  }
  .main__button {
    margin: 25px 0 0 0;
  }
  @-webkit-keyframes arrow {
    0% {
      bottom: 5%;
    }
    100% {
      bottom: 2%;
    }
  }
  @keyframes arrow {
    0% {
      bottom: 5%;
    }
    100% {
      bottom: 2%;
    }
  }
}

@media (max-width: 772px) {
  .main__logo a {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 130px;
    flex: 0 1 130px;
  }
  .main__title {
    margin: 80px 0 0 0;
    font-size: 24px;
  }
  .main__title span {
    font-size: 22px;
  }
  .main__button {
    margin: 80px 0 0 0;
  }
}

@media (max-width: 550px) {
  .main__title {
    margin: 80px 0 0 0;
  }
  .main__button {
    margin: 55px 0 0 0;
  }
  @-webkit-keyframes arrow {
    0% {
      bottom: 12%;
    }
    100% {
      bottom: 9%;
    }
  }
  @keyframes arrow {
    0% {
      bottom: 12%;
    }
    100% {
      bottom: 9%;
    }
  }
}

@media (max-width: 395px) {
  .main__title {
    margin: 50px 0 0 0;
    font-size: 22px;
  }
  .main__title span {
    font-size: 20px;
  }
  .main__title:after {
    margin: 20px auto;
  }
  .main__button {
    margin: 100px 0 0 0;
  }
}

@media (max-width: 343px) {
  .main__button {
    margin: 60px 0 0 0;
  }
}

.menu {
  padding: 22px 0 22px 0;
  border: 2px solid #f1f1f1;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

.menu__link a {
  color: #3c3c3c;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link a:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ada074;
  font-weight: 700;
}

.container-2 {
  max-width: 425px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 400px) {
  .menu {
    padding: 12px 0 2px 0;
  }
  .menu__link {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 0 10px 0;
  }
}

.about {
  margin: 110px 0 60px 0;
  padding: 20px 0 0 0;
}

.about__subtitle {
  padding: 37px 0 0 0;
  max-width: 688px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.about__wrap {
  padding: 69px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 -15px;
}

.about__column {
  margin: 0 0 30px 0;
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  text-align: center;
}

.about__item {
  max-width: 260px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
}

.about__image_m img {
  padding: 0 0 0 9px;
}

.about__label {
  margin: 41px 0 0 0;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0.16em;
  color: #000000;
}

.about__sublabel {
  margin: 36px 0 0 0;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
}

.title {
  position: relative;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: #000000;
}

.title:after {
  content: '';
  position: absolute;
  display: block;
  width: 81px;
  height: 2px;
  background-color: #000;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -41.5px;
}

@media (max-width: 821px) {
  .about {
    margin: 50px 0 0 0;
  }
  .about__subtitle {
    padding: 27px 0 0 0;
  }
  .about__wrap {
    padding: 49px 0 0 0;
  }
  .about__label {
    margin: 31px 0 0 0;
    font-size: 18px;
  }
  .about__sublabel {
    margin: 26px 0 0 0;
  }
}

@media (max-width: 686px) {
  .about__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .about__item {
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .about {
    margin: 30px 0 0 0;
  }
  .title {
    font-size: 28px;
    padding: 0 0 20px 0;
  }
  .title:after {
    width: 71px;
    height: 1.5px;
    margin: 0 0 0 -34.5px;
  }
  .about__wrap {
    padding: 29px 0 0 0;
  }
  .about__label {
    margin: 20px 0 0 0;
  }
  .about__sublabel {
    margin: 10px 0 0 0;
  }
}

.portfolio {
  background-color: #f3f3f3;
  padding: 0 0 60px 0;
}

.portfolio__title {
  padding: 107px 0 30px 0;
  margin: 0 0 50px 0;
}

.portfolio__filter {
  margin: 0 0 80px 0;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -13.5px;
}

.portfolio__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 13.5px;
  margin: 0 0 27px 0;
}

.portfolio__item img {
  max-width: 100%;
}

.portfolio__button {
  padding: 35px 0 0 0;
  margin: 0 auto;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filter__item {
  margin: 0 25px;
  font-size: 15px;
  line-height: 1.2;
  color: #3c3c3c;
  cursor: pointer;
}

.active {
  color: #ada074;
  font-weight: 700;
}

@media (max-width: 768px) {
  .portfolio__title {
    padding: 80px 0 30px 0;
  }
  .portfolio__title {
    margin: 0 0 40px 0;
  }
  .portfolio__filter {
    margin: 0 0 70px 0;
  }
  .portfolio__column {
    margin: 0 0 13.5px 0;
  }
}

@media (max-width: 481px) {
  .portfolio {
    padding: 0 0 30px 0;
  }
  .portfolio__title {
    padding: 50px 0 30px 0;
  }
  .portfolio__title {
    margin: 0 0 30px 0;
  }
  .portfolio__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .portfolio__filter {
    margin: 0 0 40px 0;
  }
  .filter__item {
    margin: 0 15px;
  }
}

.partners {
  background: url(../img/fon_2.png) center/cover no-repeat;
  padding: 100px 0 100px 0;
}

.partners__title {
  margin: 0 0 93px 0;
  text-align: center;
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.partners__body {
  max-width: 604px;
  margin: 0 auto;
  padding: 0 10px;
}

.partners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -15px;
}

.partners__column {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.partners__item img {
  max-width: 100%;
}

@media (max-width: 650px) {
  .partners {
    padding: 50px 0 20px 0;
  }
  .partners__title {
    margin: 0 0 53px 0;
  }
  .partners__wrap {
    margin: 0;
    text-align: center;
  }
  .partners__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    padding: 0 0 40px 0;
  }
}

@media (max-width: 480px) {
  .partners__title {
    margin: 0 0 43px 0;
  }
}

.contact {
  padding: 153px 0 82px 0;
}

.contact__title {
  margin: 0 0 119px 0;
}

.contact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -41.5px;
}

.contact__form {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0 20px;
}

.contact__info {
  padding: 0 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.form__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 75px 0;
}

.form__column {
  padding: 0 30px;
}

.form__name {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  padding: 0 0 19px 0;
}

.form__input {
  -webkit-box-shadow: 0 1px 0 0 #000 inset;
  box-shadow: 0 1px 0 0 #000 inset;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  padding: 0 0 0 10px;
}

.form__bottom {
  padding: 0 0 0 30px;
}

.form__textarea {
  -webkit-box-shadow: 0 1px 0 0 #000 inset;
  box-shadow: 0 1px 0 0 #000 inset;
  width: 383px;
  height: 118px;
  background-color: #f8f7f7;
  padding: 10px 0 0 10px;
}

.form__button {
  margin: 42px 0 0 0;
}

.form__send {
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__send:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.info__title {
  width: 252px;
  line-height: 26px;
  color: #000000;
}

.info__name {
  margin: 36px 0 0 0;
  color: #000;
  font-weight: 700;
}

.info__links {
  margin: 22px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 2px solid #000;
}

.info__link_in {
  margin: 0 0 0 12px;
  padding: 0 0 0 3px;
}

.info__link img {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.info__link img:hover {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.info__mail {
  margin: 13px 0 0 0;
}

.info__mail span {
  font-weight: 700;
}

@media (max-width: 1000px) {
  .contact__wrap {
    margin: 0 -10px;
  }
  .contact__form {
    padding: 0 5px;
  }
  .contact__info {
    padding: 0 5px;
  }
}

@media (max-width: 904px) {
  .contact {
    padding: 100px 0 60px 0;
  }
  .contact__title {
    margin: 0 0 80px 0;
  }
  .contact__wrap {
    max-width: 385px;
    margin: 0 auto;
  }
  .contact__form {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .contact__info {
    padding: 30px 0 0 0;
    max-width: 252px;
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .form__top {
    margin: 0 0 50px 0;
  }
  .form__button {
    margin: 22px 0 0 0;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 50px 0 60px 0;
  }
  .contact__title {
    margin: 0 0 50px 0;
  }
  .form__top {
    margin: 0 0 30px 0;
  }
  .form__name {
    padding: 0 0 10px 0;
  }
  .form__column {
    padding: 0 10px;
  }
  .form__input {
    width: 130px;
  }
  .form__textarea {
    width: 280px;
  }
  .form__bottom {
    padding: 0 0 0 10px;
  }
  .form__button {
    margin: 15px 0 0 0;
    padding: 0 0 0 5px;
  }
  .contact__info {
    padding: 20px 0 0 0;
  }
  .info__name {
    margin: 15px 0 0 0;
  }
  .info__links {
    margin: 12px 0 0 0;
  }
}

.footer {
  padding: 48px 0;
  background-color: #3c3c3c;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__menu {
  margin: 41px 0 0 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.footer__link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0 10px;
  line-height: 1.2;
}

.footer__link a {
  color: #a4a4a4;
}

.footer__secure {
  margin: 34px 0 0 0;
  line-height: 1.2;
  color: #6c6c6c;
}
