// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);

body{
	font-family: Lato;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}

//MAIN

.main {
	background: url(../img/fon_1.png) no-repeat;
	padding: 153px 0;
	min-height: 1080px;
	min-width: 100%;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		padding: 12px 0 0 0;
	}
	&__title {
		padding: 159px 0 0 0;
	}
	&__btn {
		position: relative;
		top: 227px;
	}
	&__arrow {
		position: absolute;
		top: 917px;
	}
}
.container {
	max-width: 754px;
	margin: 0 auto;
}
.title {
		font-size: 34px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		text-align: center;
		color: #ffffff;
		&:after{
			content: '';
			display: block;
			position: relative;
			top: 49px;
			background-color: #fff;
			width: 107px;
			height: 2px;
			margin: 0 auto;
		}
		& span{
			font-size: 26px;
			font-weight: 400;
			text-transform: none;
		}
}
.button {
	& a{
		display: block;
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.06em;
		color: #ffffff;
		width: 182px;
		height: 47px;
		border: solid;
	}
	&:active{
		margin: 3px 0 0 0;
	}
}

//subMENU
.submenu {
	padding: 22px 0;
}
.menu {
	max-width: 422px;
	margin: 0 auto;
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		font-size: 15px;
		line-height: 1.2;
		font-weight: 400;
		color: #3c3c3c;
		text-transform: uppercase;
		&:hover{
			font-weight: 700;
			color: #ada074;
		}
	}
}


//ABOUT

.about {
	margin: 129px 0 95px 0;
	&__title {
		&_bl {
			color: #000;
			&:after{
				background-color: #000;
				top: 35px;
				height: 1px;
			}
		}
	}
	&__subtitle {
		padding: 73px 0 0 0;
		max-width: 688px;
		margin: 0 auto;
		text-align: center;
		font-size: 14px;
		line-height: 25px;
		font-weight: 300;
		color: #868585;
	}
	&__row {
		padding: 69px 0 0 0;
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		flex: 0 1 33.333%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__image {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 92px;
		height: 92px;
		border-radius: 50%;
		color: #eaeaea;
		border: solid;
	}
	&__layout {
		padding: 41px 0 0 0;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: 0.16em;
		color: #000000;
	}
	&__text {
		padding: 36px 0 0 0;
		text-align: center;
		max-width: 230px;
		font-size: 14px;
		line-height: 26px;
		font-weight: 300;
		color: #868585;
	}
}
.container-3 {
	max-width: 823px;
	margin: 0 auto;
}
.title_bl{
		font-size: 34px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		text-align: center;
		color: #000;
		&:after{
			content: '';
			display: block;
			position: relative;
			top: 49px;
			background-color: #000;
			width: 107px;
			height: 2px;
			margin: 0 auto;
		}
		& span{
			font-size: 26px;
			font-weight: 400;
			text-transform: none;
		}
}

//PORTFOLIO

.portfolio {
	background-color: #f3f3f3;
	min-height: 1671px;
	padding: 107px 0;
	&__box{
	}
	&__title {}
	&__menu {
		padding: 91px 0 0 0 ;
		&__link{
		}
	}
	&__content {
		padding: 120px 0 0 0;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -13.5px;
		justify-content: center;
	}
	&__column {
		margin: 16px 0 0 0;
		padding: 0 13.5px;
		flex: 0 1 50%;
	}
	&__btn {
		position: relative;
		top: 64px;
		display: flex;
		justify-content: center;
	}
}
.container-4 {
	max-width: 1103px;
	margin: 0 auto;
}
.title {
	&_bl {
		&:after{
			height: 1px;
			top: 40px;
		}
	}
}
.button_bl {
	& a{
		display: block;
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.06em;
		color: #000;
		width: 182px;
		height: 47px;
		border: solid;
	}
	&:active{
		margin: 3px 0 0 0;
	}
}

//PARTNERS

.partners {
	background: url(../img/fon_2.png) 0 0 no-repeat;
	padding: 100px 0;
	&__title {
		text-align: center;	
		font-size: 30.4px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: 0.06em;
		color: #ffffff;
	}
	&__row {
		max-width: 584px;
		margin: 0 auto;
		padding: 93px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__column {
	}
}
.container-5 {
	max-width: 584px;
	margin: 0 auto;
}

//CONTACT

.contact {
	padding: 183px 0 102px 0;
	&__title {}
	&__row {
		padding: 167px 0 0 0;
		display: flex;
		margin: 0 -41.5px;
	}
	&__column {
		padding: 0 41.5px;
	}
	&__form {}
	&__info{
		padding: 75px 0 19px 0;
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		color: #000000;
	}
	&__body{

	}
	&__text {
		max-width: 252px;
		font-size: 14px;
		line-height: 26px;
		font-weight: 300;
		color: #000000;
	}
	&__name {
		margin: 40px 0 0 0;
		font-weight: 700;
	}
	&__icons {
		margin: 25px 0 0 0;
		display: flex;
	}
	&__link {
		margin: 0 0 0 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 29px;
		height: 29px;
		border-radius: 50%;
		border: solid;
		color: #000;
		&:first-child{
			margin: 0px;
		}
	}
	&__mail {
		margin: 12px 0 0 0;
		& span{
			font-weight: 700;
		}
	}
}
.container-6 {
	max-width: 718px;
	margin: 0 auto;
}
.title {
	&_bl {}
}
.form {
	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -30px;
	}
	&__column {
		padding: 0 30px;
		flex: 0 1 50%;
	}
	&__text {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		color: #000000;
	}
	&__name {
		margin: 19px 0 0 0;
		padding: 3px 0 0 5px;
		width: 161px;
		height: 35px;
		background-color: #f8f7f7;
		box-shadow: 0 1px 0 0 #000 inset;
	}
	&__textarea {
		padding: 10px 10px;
		width: 100%;
		height: 118px;
		background-color: #f8f7f7;
		box-shadow: 0 1px 0 0 #000 inset;
	}
	&__send{
		padding: 42px 0 0 0;
		text-align: right;
	}
	&__btn {
		font-size: 14px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.06em;
		color: #000000;
		background-color: #fff;
	}
}


//FOOTER

.footer {
}
