// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);

body{
	font-family: Lato;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}

//MAIN

.main {
	background: url(../img/fon_1.png) no-repeat;
	padding: 153px 0;
	min-height: 1080px;
	min-width: 100%;
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		padding: 12px 0 0 0;
	}
	&__title {
		padding: 159px 0 0 0;
	}
	&__btn {
		position: relative;
		top: 227px;
	}
	&__arrow {
		position: absolute;
		top: 917px;
	}
}
.container {
	max-width: 754px;
	margin: 0 auto;
}
.title {
		font-size: 34px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.16em;
		text-align: center;
		color: #ffffff;
		& span{
			font-size: 26px;
			font-weight: 400;
			text-transform: none;
		}
		&:after{
			content: '';
			display: block;
			position: relative;
			top: 49px;
			background-color: #fff;
			width: 107px;
			height: 2px;
			margin: 0 auto;
		}
}
.button {
	& a{
		display: block;
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.06em;
		color: #ffffff;
		width: 182px;
		height: 47px;
		border: solid;
	}
	&:active{
		margin: 3px 0 0 0;
	}
}

//MENU
.submenu {
	padding: 22px 0;
}
.menu {
	&__list {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		font-family: Lato;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 400;
		color: #3c3c3c;
		text-transform: uppercase;
		&:hover{
			font-weight: 700;
			color: #ada074;
		}
	}
}
.container-2{
	max-width: 422px;
	margin: 0 auto;
}





//FOOTER

.footer {
}
